
.bColor{
  background-color: #000000;
}
.background-index{
  height:400px;
  background-image: url("imagenes/ss1.jpg");
  background-size: cover;
}
.background-simulator{
  height: 400px;
  background-image: url("imagenes/sistema_solar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

body{
  font-family: 'MuseoModerno', cursive;
  font-family: 'Rubik', sans-serif;
}


.header{
  float: left;
  color: white;
  margin-left: 20px;
  font-size: 45px;
  font-style: italic;
  text-decoration: underline;
}
#menuAlign{
  padding-top: 40px;
  text-align: right;
}
#menu:link, #menu:visited{
  color: white;
  margin-right: 20px;
}
#menu:hover{
  font-size: 15px;
}
#menu:active{
  font-weight: bolder;
}


.sub_home{
  padding-top: 100px;
  color: white;
  font-size: 35px;
  font-style: italic;
}
.parrafo_home{
  color: white;
  font-size: 20px;
  font-style: oblique;
}

.columna1 {
  padding-top: 100px;
  width: 45%;
}
.columna2 {
  float: right;
  padding-top: 65px;
  width: 45%;
}

.imagenes_columnas{
  float: left;
}
.sub_columnas{
  color: white;
  font-size: 35px;
  font-style: italic;
}
.parrafo_columnas{
  color: white;
  font-size: 20px;
  font-style: oblique;
}
.debugger{
  color: #black;
  padding-top: 30px;
}

.columna1_simulator{
  padding-top: 65px;
  width: 25%;
}
.columna2_simulator{
  float: right;
  padding-top: 65px;
  width: 25%;
}
.checkboxes{
  background-color: grey;
  color: white;
  font-size: 25px;
  font-style: oblique;
  margin-right: 150px;
  text-align: center;
}
.checkboxes_right{
  background-color: grey;
  color: white;
  font-size: 25px;
  font-style: oblique;
  margin-right: 150px;
  text-align: center;
}
.sub_simulator{
  color: white;
  font-size: 35px;
  font-style: inherit;
  text-align: center;
  margin-right: 150px;
}
.boton{
  border-bottom-color: #ff8b00;
  color: #3d3737;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Times New Roman";
;
}
.margen_aboutus{
  padding-left: 50px;
}
